@import './_colours';
@import './_font';

body {
  margin: 0;
  border: 0;
  padding: 0;
}

.nav {
  color: $primary;
  display: flex;
  justify-content: space-around;

  .nav-item {
    display: flex;
    button {
      padding: 0.2em;
      margin-top: 1em;
      margin-bottom: 1em;
    }

  }
}

.herotron {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  padding-top: 4em;
  padding-bottom: 4em;

  img {
    max-width: 100%;
  }
  button {
    padding: 2em;
  }
}

.container {
  padding-left: 10em;
  padding-right: 10em;
}

.about {
  img {
    width: 100%;
  }
}

.button-primary {
  display: flex;
  align-items: center;
  vertical-align: middle;
  border: 0;
  color: $primary-dark;
  background-color: $primary-light;
  font-weight: bold;
  font-size: 1em;
  border-radius: 1em;
  &:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 10px 5px lighten($primary, 50%);
    -webkit-box-shadow: 0 0 10px 5px lighten($primary, 50%);
    box-shadow: 0 0 10px 5px lighten($primary, 50%);
  }
}